{% extends "base.html" %}

{% block title %}Calculate{% endblock %}
{% block body %}
    <body>
		<div class="container my-3">
            <h1 class="text-center pt-2 righteous text-dark"><a href="/maths" class="text-dark" style="text-decoration: none;">Poisson Solver</a></h1>
            <p class="text-center montserrat-alt">Developed by Mohit Patil.</p>
            <div class="container montserrat border border-dark rounded p-3" style="max-width: 480px;">
            	<label class="righteous">Answer:</label>
            	<p class="montserrat-alt">
                    <b class="montserrat">r = {{r}}</b> = {{ ans.0 }}
                    <br>
                    <b class="montserrat">r > {{r}}</b> = {{ ans.1 }}
                    <br>
                    <b class="montserrat">r ≥ {{r}}</b> = {{ ans.2 }}
                    <br>
                    <b class="montserrat">r < {{r}}</b> = {{ ans.3 }}
                    <br>
                    <b class="montserrat">r ≤ {{r}}</b> = {{ ans.4 }}
                </p>
            	<br>
            	<p class="montserrat-alt">Thanks For Using.....<br>Developed by Mohit M. Patil<br><b class="text-danger montserrat">Note:</b> This program is not fully capable to solve all question..<br>Some time it may get Errors or Wrong... <br><b class="text-danger montserrat">Please Crosscheck your answer & apply units and powers..</b><br>Don't misuse it, We are not responsible.</p>
            </div>
        </div>
    </body>
{% endblock %}