<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
		<script src="https://kit.fontawesome.com/b2392ab33b.js"></script>

		<!-- title -->
		<title>Helper</title>

		<!-- font -->
		<link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Righteous&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap" rel="stylesheet">
		<style>
			*{
				padding: 0;
				margin: 0;
			}
			.righteous{
				font-family: 'Righteous', cursive;
			}
			.montserrat{
				font-family: 'Montserrat', sans-serif;
			}
			.montserrat-alt{
				font-family: 'Montserrat Alternates', sans-serif;
			}
		</style>
    </head>
    <body>
		<div class="container righteous text-center" style="max-width: 600px;">
		    <h1 class="text-center pt-5">Helper</h1>
		    <p class="text-center montserrat-alt">Developed by Mohit Patil.</p>
		    <div class="row text-center panel">
		        <div class="col-sm-6 col-12 my-2">
		            <a class="text-center btn btn-block bg-primary text-white border-dark" href="/maths">Maths</a>
		        </div>
		        <div class="col-sm-6 col-12 my-2">
		            <a class="text-center btn btn-block bg-primary text-white border-dark" href="" style="pointer-events: none;">AEC</a>
		        </div>
		        <div class="col-sm-6 col-12 my-2">
		            <a class="text-center btn btn-block bg-primary text-white border-dark" href="" style="pointer-events: none;">SS</a>
		        </div>
		    </div>
            <h3 class="righteous text-center my-2">Next Solver comming soon....<br>AEC & SS is Not Deployed Now..</h3>
		</div>
    </body>
</html>