<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
		<script src="https://kit.fontawesome.com/b2392ab33b.js"></script>

		<!-- title -->
		<title>{% block title %}{% endblock %}</title>

		<!-- font -->
		<link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Righteous&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap" rel="stylesheet">
		<style>
			*{
				padding: 0;
				margin: 0;
			}
			.righteous{
				font-family: 'Righteous', cursive;
			}
			.montserrat{
				font-family: 'Montserrat', sans-serif;
			}
			.montserrat-alt{
				font-family: 'Montserrat Alternates', sans-serif;
			}
		</style>
    </head>
    {% block body %}{% endblock %}
</html>