{% extends "base.html" %}

{% block title %}Maths Solver{% endblock %}
{% block body %}
    <body>
		<div class="container righteous text-center" style="max-width: 600px;">
		    <h1 class="text-center pt-5">Maths Solver</h1>
		    <p class="text-center montserrat-alt">Developed by Mohit Patil.</p>
		    <div class="row text-center panel">
		        <div class="col-sm-6 col-12 my-2">
		            <a class="text-center btn btn-block bg-primary text-white border-dark" href="/maths/binomial">Binomial Distribution</a>
		        </div>
		        <div class="col-sm-6 col-12 my-2">
		            <a class="text-center btn btn-block bg-primary text-white border-dark" href="/maths/poisson">Poisson Distribution</a>
		        </div>
		        <div class="col-sm-6 col-12 my-2">
		            <a class="text-center btn btn-block bg-primary text-white border-dark" href="/maths/normal">Normal Distribution</a>
		        </div>
		    </div>
            <h3 class="righteous text-center my-2">Next Solver comming soon....</h3>
		</div>
    </body>
{% endblock %}